body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    margin-bottom: 20px;
}

li.items {
    clear: left;
    border-bottom: black dotted 1px;
    position: relative;
    max-width: 800px;
    padding-bottom: 10px;
    list-style-type: none;
}

.description {
    font-size: 0.75em;
}

.menuitem {
    width: 75%;
}

.menuprice {
    width: 20%;
    position: absolute;
    right: 10px;
    top: 0px;
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}


a {
    text-decoration: none;
    color:cornflowerblue;
}

a:hover {
    font-weight: bold;
}

.breadcrumbs {
	background: #f2f2f2;
	padding: 5px;
}
.breadcrumbs, .breadcrumbs > a {
    color: cornflowerblue;
}

.breadcrumbs > a {
    text-decoration: underline;
}

.breadcrumbs > a:hover {
    text-decoration: underline;
    font-weight: normal;
}

.breadcrumbs > * {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 0.9em;
}

div.breadcrumbs > *:first-child {
  margin-left: 0px;
}
